<nav class="nav-bar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">📘 Question Bank</a>
        </div>
        <ul class="nav-links">
            <li><a href="/">All Categories</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/questions/add">Add Question</a></li>
        </ul>
    </div>
</nav>
